<style>
    .active {
        background-color: red; border-radius: 15px;
    }
</style>

<nsv class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand">
        Employee Record Management System
    </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#abc">
        <span class="navbar-toggler-icon">
            <i class="fas fa-bars" style="color: white; font-size:25px;"></i>
        </span>
    </button>

    <div class="collapse navbar-collapse" id="abc">
        <ul class="navbar-nav"></ul>
        <li class="nav-item">
            <a href="/" class="nav-link" style=""><i class="fas fa-home"></i> Home</a>
        </li>

    </div>
</nsv>